
        
        {{ form_start(form) }}

        <div class="form-floating mb-3">

            {{ form_widget(form.name, {'attr': {'class': 'form-control search'}}) }}
            {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
    
        </div>

        <div class="my-5">

            {{ form_widget(form.link, {'attr': {'class': 'form-control search alt-label form-custom'}}) }}

    
        </div>


        <div class="form-floating mb-3">

            {{ form_widget(form.category, {'attr': {'class': 'form-control search alt-label form-custom'}}) }}
            {{ form_label(form.category, 'Catégorie', {'label_attr': {'class': 'form-label'}}) }}
    
        </div>
    
            <button class="btn btn-new mt-4 float-end">{{ button_label|default('Enregistrer') }}</button>
    
        {{ form_end(form) }}

