{% extends 'base.html.twig' %}

{% block title %}Média{% endblock %}

{% block body %}
    <h1>Média</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medium.name }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ medium.link }}</td>
            </tr>
            <tr>
                <th>Créer le</th>
                <td>{{ medium.createdAt ? medium.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('edit_media_index') }}">Retour à la liste</a>

    <a href="{{ path('edit_media_edit', {'id': medium.id}) }}">Editer</a>

    {{ include('edit/edit_media/_delete_form.html.twig') }}
{% endblock %}
