{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}


{% block body %}

<div class="container py-3  d-flex justify-content-center">
    <div class="card card-login m-5">
      <div class="card-body p-5 m-3">

          <div class="md-5 mt-md-4 pb-3">

              <h2 class="fw-bold mb-2 title">{{ category.name }}</h2>

          </div>

          <p class="mb-1">

            <div class="example-wrapper">
            
                <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center m-3">

        <a href="{{ path('editor_category_index') }}" class="btn">Retour à la liste</a>

        <a href="{{ path('editor_category_edit', {'id': category.id}) }}" class="btn btn-new mx-2">Editer</a>

        {{ include('edit/editor_category/_delete_form.html.twig') }}

    </div>

        </div>

        </p>

        </div>
        </div>
        </div>

{% endblock %}
