<ul class="list-unstyled">
{% for cat in categorys %}
    <li class="list-unstyled">
    <div class="btn-toggle align-items-center collapsed side-btn side-link fs-6" data-bs-toggle="collapse" data-bs-target="#{{cat.name}}-collapse" aria-expanded="true">
       
    </div>
        <a href="{{ path('list_explo', {id:cat.id}) }}">{{ cat.name }}</a>
         {% if cat.children is not null %}
            <div class="collapse show" id="{{cat.name}}-collapse">
                <ul class="link list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="#" class="collapsed" data-bs-toggle="collapse" data-bs-target="#{{cat.name}}-collapse" aria-expanded="true">{{ render(controller( 'App\\Controller\\ListExploController::renderCategory', {catId: cat.id} )) }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </li>
{% endfor %}
</ul>

