
    {{ form_start(formFiltre) }}

            
        <div class="input-group mb-3">
            {{ form_label(formFiltre.createdAt, 'Trier par:')}}
            {{ form_widget(formFiltre.createdAt) }}
        </div>
        <div class="input-group mb-3">
            {{ form_label(formFiltre.extension, 'Filtrer par extension:')}}
            {{ form_widget(formFiltre.extension) }}
        </div>

        <button type="submit" class="btn ">Filtrer</button>
        
    {{ form_end(formFiltre) }}