 <nav class="navbar navbar-expand-sm">
      <a class="navbar-brand" href="{{path("files")}}">
        <img src="{{asset('img/logo.png')}}" alt="" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex justify-content-end align-items-center" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">


         
        </ul>
      </div>
       <ul class="navbar-nav">
            {% if not app.user %}
                <li class="nav-item"><a class="nav-link px-4 fs-5 link-light fw-bold nav-user" href="{{path('app_register')}}"> 
                  <boutton class="btn">
                    Inscription
                  </boutton>
                </a></li>
            {% else %}
                    <li>{{ render(controller( 'App\\Controller\\SearchNavController::renderSearchNav')) }}</li>
                    <li class="nav-item">
                      <a class="nav-link px-4 fs-5" href="{{path('files')}}"> Explorer </a>
                    </li>
                    
                    <li class="nav-item dropdown">
                    <a class="nav-link px-4 fs-5 link-light fw-bold dropdown-toggle nav-id" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{app.user.firstname}} {{app.user.name}}</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('user_profile', {id:app.user.id})}}">Profil</a></li>
                        {% if is_granted('ROLE_WRITTER') %}
                            <li class="nav-item"><a class="dropdown-item" href="{{path('editor')}}">Administration</a></li>     
                        {% endif %}
                        <li><hr class="dropdown-divider" /></li>
                        <li class="nav-item"><a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </nav>


        


